.navigation {
  margin-left: auto;

font-size: 1.3rem;
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

  }

  &__item {
      &:not(:last-child){
          margin-right: 2rem;
    }
}

&__link {
      color: rgba($color-white, .8);
      text-decoration: none;

      &:hover{
          border-bottom: 2px solid white;
      }
  }
}
